@layout('layout.app')

@section('content')
@if(auth.user)
  <p>
    Welcome <strong>{{auth.user.username}}</strong> - it's API
  </p>
@else
  <p>
    Welcome <strong>You mast login</strong> - it's API
  </p>
@endif
@endsection